* { margin: 0; padding:0;}
.block1{
    margin: 100px;
    margin-bottom: 10px;
    padding: 15px;
    background: #bab9b9;
}
.block2{
    margin-top: 10px;
    padding: 5px;
    background: #ff0000;
}
.block2 ul{
padding: 16px;
list-style-position: inside;    
list-style-image: url(icons/unchecked_16.png)
}
.block2 ul li{
padding: 10px;
}
.block2 ul li:nth-child(odd){
background-color: green;)
}
.block2 ul li:nth-child(even){
background-color: yellow;)
}
.block2 ul li:active{
text-decoration: line-through;
background-color: blue;
list-style-image: url(icons/checked_16.png)
}
p{
    margin-left: 700px;
}